<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .title {
            grid-column-start: 2;
            grid-column-end: 6;
        }

    </style>
    <link rel="stylesheet" href="/static/static.css">
</head>
<body style="background-color: ;#6D97E8">
    <div class="container">
        <nav class="nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#other">Other</a></li>
            <li><a href="#Contact">Contact</a></li>
        </nav>
        <main>
            <img src="">
        </main>
        <div id="sidebar">Sidebar</div>
        <div id="content1">Content1</div>
        <div id="content1">Content2</div>
        <div id="content1">Content3</div>
        <div id="content1">Content4</div>
        <div id="content1">Content4</div>
        <footer>Footer</footer>
    </div>
    
</body>
</html>