<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .title {
            grid-column-start: 2;
            grid-column-end: 6;
        }

    </style>
    <link rel="stylesheet" href="/static/static.css">
</head>
<body style="background-color: ;#6D97E8">
    <div class="container">
        <nav class="nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#other">Other</a></li>
            <li><a href="#Contact">Contact</a></li>
        </nav>
        <main>
            <h1><div><img src="/static/utep-miners-logo_small.png" width="30%"></div></h1>
            <h1><div> MARCS Check-In</div></h1>
            <h1><div></div></h1>
            <h1><div></div></h1>
        </main>
        <form>
            <h2>
                <div id="Name">Enter Student Name</div>
                <div><input type="text" name="Field_Name"/></div>
                <div id="Class_Course">Enter Class or Course Name</div>
                <div><input type="text" name="Field_Course"/></div>
                <div id="Proffesor">Enter Proffesor Name</div>
                <div><input type="text" name="Field_Prof"/></div>
                <div><input type="submit" name="Submit"></div>
            </h2>
        </form>
        
        <div id="Class" class="Class_Course">Enter Class or Course Name</div>
        <div id="Proffesor" class="Proffesor">Enter Proffesor Name</div>
        <div id="content1">Content4</div>
        <div id="content1">Content4</div>
        <footer>Footer</footer>
    </div>
    
</body>
</html>